:root {
  --light-red: #e7343421;
  --base-red: #e73434;
  --grey: #e0e0e0;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100dvh;
  font-size: 18px;
  font-family: "Kanit", sans-serif;
  background-color: #f5f5f5;
}

.section-padding {
  padding: 3rem 4rem;
}

.link {
  color: white;
  text-decoration: underline;
}
