.productCardWrapper {
  width: 100%;
  object-fit: cover;
}

.truckCard {
  max-width: 1100px;
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.mainImgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
  box-sizing: border-box;
  position: relative;
}

.mainImage {
  object-fit: cover;
  cursor: pointer;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  transition: filter 0.3s ease;
}

.thumbnails {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
  gap: 0.5rem;
  margin: 10px 0;
}

.thumbnail {
  height: 130px;
  cursor: pointer;
  border-radius: 5px;
  transition: filter 0.3s ease;
}

.truckInfo {
  width: 100%;
  padding: 10px 0;
}

.offerName {
  font-size: 36px;
}

.offerBasicInfo {
  font-size: 22px;
  color: #444444;
}

.offerPrice {
  font-size: 36px;
  font-weight: 500;
}

.highlight {
  font-weight: 500;
  margin-right: 10px;
}

.additionalInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
}

.infoItem {
  padding: 0.5rem 1rem;
  border-radius: 15px;
  color: white;
  font-weight: 300;
  margin: 0;
  background-color: var(--base-red);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--base-red);
  border-radius: 3px;
  z-index: -2;
}

.button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: white;
  transition: all 0.3s;
  border-radius: 3px;
  z-index: -1;
}

.button:hover {
  color: var(--base-red);
}

.button:hover::before {
  width: 100%;
}

.mainImage:hover,
.thumbnail:hover {
  filter: brightness(70%);
}

.iframeMap {
  width: 100%;
  margin-top: 0.5rem;
  border: none;
}

.separator {
  border: none;
  height: 2px;
  background-color: var(--base-red);
}

.redDot {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  margin: 0 8px;
  vertical-align: middle;
}

@media (max-width: 930px) {
  .truckCard {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .truckCard {
    width: 500px;
  }
  .thumbnail {
    height: 100px;
  }
}

@media (max-width: 520px) {
  .truckCard {
    width: 350px;
  }

  .mainImgWrapper {
    height: 450px;
  }
}
