.offersList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-top: 5rem;
}

.offerItem {
  position: relative;
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 8px 3px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
}

.offerImgWrapper {
  position: relative;
  width: 100%;
  min-height: 390px;
  height: 60%;
}

.offerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 4 / 3;
}

.offerDetails {
  padding: 1.5rem;
  margin-bottom: 60px;
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.offerSubtitle {
  color: var(--base-red);
  font-size: 22px;
  font-weight: 500;
}

.offerTitle {
  font-size: 28px;
  font-weight: 500;
  margin: 0;
}

.redDot {
  color: red;
  margin: 0 5px;
  font-size: 2rem;
}

.offerAdditionalInfo {
  font-size: 22px;
}

.offerPrice {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
}

.offerSubtitle,
.offerTitle,
.offerAdditionalInfo,
.offerPrice {
  text-align: center;
  margin: 0;
}

.offerItemButton {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  color: white;
  background-color: var(--base-red);
  border: none;
  font-size: 20px;
  letter-spacing: 2px;
  cursor: pointer;
}

@media (max-width: 550px) {
  .redDot {
    font-size: 10px;
  }

  .offerImgWrapper {
    min-height: 280px;
    height: 65%;
  }

  .offerDetails {
    padding: 0.8rem;
    gap: 5px;
    margin-bottom: 40px;
  }

  .offerSubtitle {
    font-size: 12px;
  }

  .offerTitle {
    font-size: 18px;
  }

  .offerAdditionalInfo {
    font-size: 12px;
  }

  .offerPrice {
    font-size: 20px;
  }

  .offerItemButton {
    height: 40px;
    font-size: 12px;
  }
}
